
.exchange {
  justify-content: space-between;
  min-height: 80px;
  height: fit-content;
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  width: 60%
}

.exchange h1 {
  font-size: 16px;
  width: 250px;
}

.exchange img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.exchange-price {
  width: fit-content;
  
}

.exchange-volume {
  width: fit-content;
}

.exchange-marketcap {
  width: 150px;
}

@media (max-width: 480px) {
  .exchange{
    width: 98%;
    flex-wrap: wrap;
    align-content:space-between;
    align-items: center;
  }
}
